body{
    background-image: url('../img/stocks.jpg');
    color: white;
}

.placeholder.stock{
    display: inline;
    background: white;
    color: black;
}

.stock{
    width: 40%;    
    background-color: rgb(24, 23, 23);
    color: white;
    
    opacity: .90;
    
    display: block;
    
    margin: 0 auto;
    margin-top: 20px;
    
    border-radius: 10px;
    padding-bottom : 50px;
    box-shadow: 0 0 20px white;
}

.form_div{
    background-color: rgb(24, 23, 23);
    margin-top:40px;
    width:25%;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    opacity:0.8;
    box-shadow: 0 0 10px white;
  
}

.placeholder{
    padding:10px;
    width : 50%;
    font-size: large;
    box-shadow: none;
}

#submit{
    background-color:#293251;
    color:white;
    padding:10px;
    font-size: large;
    cursor: pointer; 
    border-radius: 10px;
    border-color: white;
    border-width: 2px 2px 2px 2px;
    margin-bottom: 5px;
}

.stocktext{
    color:white;
    font-size:1.2em;
}