body
{
    background-image: url("/images/background-news.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navbar
{ 
    background:#0025f9;
    opacity: 0.8;
}

.nav-link , .navbar-brand
{
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link
{ 
    margin-right: 1em !important;
}
.navbar-brand:hover
{
    background: #f4f4f4; 
    color: #1100f9; 
}
.nav-link:hover
{ 
    background: #f4f4f4; 
    color: #1100f9; 
}

.navbar-collapse
{ 
    justify-content: flex-left;
}

.animated-icon 
{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
    
.animated-icon span
{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
.animated-icon span 
{
    background: white;
}
    
.animated-icon span:nth-child(1)
{
    top: 0px;
}

.animated-icon span:nth-child(2) 
{
    top: 10px;
}

.animated-icon span:nth-child(3)
{
    top: 20px;
}

.animated-icon.open span:nth-child(1) 
{
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2)
{
    opacity: 0;
    left: -60px;
}

.animated-icon.open span:nth-child(3)
{
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.news
{
    margin: 4em 0;
    position: relative; 
}
.news h1
{
    color: #1100f9;
    margin: 2em; 
}
.border
{
    background-color: white;
    opacity: 0.7;
}
.news .card
{
    box-shadow: 0 0 20px #ccc;
    height:35em;
}
.news .card img
{
    width: 100%;
    height: 12em;
}
.news .card-title
{
    color:#1100f9;
    
}
.news .card-body
{
    padding: 1em;
}

 