.navbar
{ 
    background:#0025f9;
    opacity: 0.8;
}

.nav-link , .navbar-brand
{
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link
{ 
    margin-right: 1em !important;
}
.navbar-brand:hover
{
    background: #f4f4f4; 
    color: #1100f9; 
}
.nav-link:hover
{ 
    background: #f4f4f4; 
    color: #1100f9; 
}

.navbar-collapse
{ 
    justify-content: flex-left;
}

.navbar-toggler
{ 
    background:#fff !important;
}
.news
{
    margin: 4em 0;
    position: relative; 
}
.news h1
{
    color: #1100f9;
    margin: 2em; 
}
.border
{
    background-color: white;
    opacity: 0.7;
}
.news .card{
    box-shadow: 0 0 20px #ccc;
    height:35em;
}
.news .card img
{
    width: 100%;
    height: 12em;
}
.news .card-title
{
    color:#1100f9;
    
}
.news .card-body
{
    padding: 1em;
}

 