*{
    font-family: "Rimouski";
}


body{
   background: linear-gradient(
    to bottom,
    #293251,
    #9da4be); 
    background-color: #9da4be;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}
.show_hide{
    display:none;
}

.main{
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    
}

.main>div{
    width: 650px;    
    background-color: #FFF;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 20px;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.current-date{
    width: 650px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.current-date p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
}
/* .current-date{
    background-color: rgb(223, 235, 250);
}
.current-date p{
    text-align : center;
    padding: 15px;
} */
.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    height: 260px;
    background-color: #F4F9FF;
    
}
#flex-main>div{
    width:300px;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    color : #293251;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}
#feels{
    font-size:0.3em;
}
.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.3em;
} 

/* temp min/max humidity and pressure div */
.temperature-min p, .temperature-max p, .humidity p, .pressure p, .wind p{
    font-size :1.2em;
    color: #293251;
    padding-top:7px;
}

/* weather forecast container */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 150px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .temp-value1, .temp-value2, .temp-value3, .temp-value4, .temp-value5{
    font-weight: bolder;
  }
  .temp-description1,.temp-description2,.temp-description3,.temp-description4, .temp-description5{
    font-size: 0.8em;
  }
  .weather-forecast-container{
    background-color: #F4F9FF;
  }

  .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color:red;
}

.no-underline {
    text-decoration: none;
}

.form_div{
    background-color: rgb(24, 23, 23);
    margin-top:40px;
    width:25%;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    opacity:0.8;
  
}
.placeholder{
    padding:10px;
    width : 50%;
    font-size: large;
}
.submit{
    background-color:#293251;
    color:white;
    padding:10px;
    font-size: large;
    cursor: pointer; 
    border-radius: 10px;
}
a {
    cursor: pointer;
    }

input{
    border-radius: 10px;
}

.citytext{
    color:white;
    font-size:1.2em;
}
.loc{
    color:rgb(58, 131, 160);
}